__pycache__/
build/
*.egg-info/
*.so
venv_*/
.vs/
.vscode/
.idea/

tmp_*
data?
data??
scripts2

model_cache

logs*
videos*
images*
*.mp4

*env*
*.run

diff-gaussian-rasterization/
debug/
pcd_debug.ply
*.pcd
*.jpg
*.png
*.gif
*.avi
tests/
gs_ply/